body { max-width: 1600px;
       margin: 0 auto;
}

div.a {
    text-align: center ;
}

div.c{ 
    height: 1px;
}

#background {
   height: 725px ; 
}

body {
    background-color: antiquewhite;
}
header{  
  background-color: #6b6668;
}
nav a:hover {
    background-color: black;
    color: blueviolet;
}
icon {
  width: 80px; ;
}

nav a {
    text-align: center;
    color: beige;
    text-decoration: none;
}     
footer p{
    font-size: 1.2em;
}
footer p a hover{
    text-decoration:underline;
}
