* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #e0e0e0; 
    color: #333; 
    border: 2px solid #333; 
}

profile-jpg {
    float: right;
    margin: 10px; 
}














/* Class Selectors */